body {
    font-family: 'Lato', sans-serif;
    background-color: #FDF8F5;
    color: #363636;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  
  .btn-primary {
    background-color: #E87A5D;
    border-color: #E87A5D;
  }
  
  .btn-primary:hover {
    background-color: #D36C4F;
    border-color: #D36C4F;
  }
  