@font-face {
  font-family: "FuturaHandwritten";
  src: url("./assets/fonts/FuturaHandwritten.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "FuturaHandwritten", sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #fff;
  color: #fff;
}

header nav {
  margin-left: auto;
}

nav a {
  padding: 0.5em;
  margin-left: 2em;
}

header a {
  text-decoration: none;
  color: black;
}

main {
  flex: 1;
  padding: 1em;
  text-align: center;
}

.intro-text {
  max-width: 600px; 
  margin: 0 auto;    
  line-height: 1.6;
}

.featured-cats {
  display: flex;
  padding-left: 2em;
}

footer {
  padding: 1em;
  text-align: center;
  background: red
}

#cats-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.cat-card,
.team-card {
  border: 1px solid black;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.cat-info,
.team-info {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.6rem 0.8rem;
  text-align: left;
}

.cat-info h3,
.cat-info p,
.team-info h3,
.team-info p {
  margin: 0;
}

.controls-row {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.controls-row .breed-select {
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  border: 1px solid black;
  background: white;
}

.controls-row .btn {
  padding: 0.45rem 0.7rem;
  border-radius: 8px;
  background: #accff4;
  color: black;
  border-color: black;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

.divider {
  border: none;
  border-bottom: 1px solid #000;
  margin: 0.5rem 0 1rem 0;
}

.available-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-search {
  padding: 0.4rem 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
  border: 1px solid black;
}

.contact-us{
  text-align: left;
  padding-left: 1.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
}

.contact-form button {
  margin-top: 2px;
  padding: 0.45rem 1.5rem 0.45rem 1.5rem;
  background-color: #accff4;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.about-us{
  text-align: left;
  padding-left: 1.5rem;
}

.simple-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;
  align-items: flex-start;
}

.cat-card img,
.team-card img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
