* {
  box-sizing: content-box;
}

.layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  transform: rotate(1deg);
}

header {
  padding: 1em;
  background-color: #fff;
  color: #fff;
}

main {
  flex: 1;
  padding: 1em;
  display: list-item;
}

footer {
  padding: 1em;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: red;
}

.cat-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #fff;
}
.cat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  margin-top: auto;
}
