* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1em 2em;
  background-color: #6a1b9a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
header h1 a {
  color: #fffdd0;
  text-decoration: none;
  transition: color 0.3s;
  letter-spacing: 2px;
}

header h1 a:active {
  color: #b7e4c7;
  text-decoration: underline;
}
header h1 {
  line-height: 1.5;
}

nav  {
  background-color: #9c27b0;
  padding: 0.5em 1em;
  border-radius: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  justify-content: center;

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 0.3em 0.5em;
  transition: background 0.3s,color 0.3s;
  border-radius: 4px;
}

nav ul li a:hover {
  background-color: #7b1fa2;  
  color: #ffeb3b;
}

main {
  flex: 1;
  padding: 2em;
  background-color: #f4f4f4;
}

footer {
  padding: 1em 2em;
  text-align: center;
  background-color: #e1bee7;
  margin-top: auto;
  color: #4a148c;
  font-weight: bold;
}

.cat-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
}

.cat-card:hover {
  transform: translateY(-5px);
}
.cat-info {
  background: #000;
  color: #fff;
  border-radius: 0 0 8px 8px;
  padding: 0.5em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #7b1fa2;
}

.send-btn {
  
  padding: 0.9rem;
 
  border: none;
  background: linear-gradient(90deg, #a113ad);
  color: #fff;
  font-weight: bold;
   cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.search-btn {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #7b1fa2;
}

.about-page h2 {
  margin-bottom: 1.5rem;
}

.about-section {
  margin-bottom: 0.5rem;
}

.about-section h3 {
  margin-bottom: 0.5rem;
 
}

.team {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.team-card {
  width: 140px;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 0.8rem;
  text-align: center;
}


