* {
  box-sizing: content-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

header {
  padding: 1em;
  background-color: #fff;
  color: #fff;
}

main {
  flex: 1;
  padding: 1em;
  display: list-item;
}

footer {
  padding: 1em;
  bottom: 0;
  width: 100%;
  border: 1px solid black;
}

.cat-card {
  border: 2px solid black;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
}

.cat-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.cat-card:hover {
  transform: scale(1.05);
}

.cat-info {
  padding: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.cat-info h3 {
  font-size: 1.1rem;
  font-weight: 500;
}