* {
  box-sizing: content-box;
}

.layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  /* transform: rotate(1deg); */
}

header {
  padding: 1em;
  background-color: #fff;
  color: #fff;
}

main {
  flex: 1;
  padding: 1em;
  display: list-item;
}

footer {
  padding: 1em;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: red;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 4px;
}
