* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  /*overflow: hidden;*/

}

header {
  padding: 1em;
  background-color: #fff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

main {
  flex: 1;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

footer {
  padding: 1em;
  text-align: center;
  position: relative;
  /* top: 0;*/
  width: 100%;
  /*z-index: 9999;*/
  background: red;
  color: #fff;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 4px;
}