* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

header {
  padding: 1em;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  flex: 1;
  padding: 1em;
}

footer {
  padding: 1em;
  text-align: center;
  background: #f8f9fa;
  margin-top: auto;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 8px;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 0 0 8px 8px;
  padding: 0.5em;
}

.cats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
