* {
  box-sizing: content-box;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  padding: 1em;
  background-color: #fff;
  color: #fff;
}

main {
  flex: 1;
  padding: 1em;
  display: list-item;
}

footer {
  padding: 1em;
  text-align: right;
}

.cat-card {
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
}

.cat-card > img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.cat-info {
  background: #000;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;

  position: absolute;
  bottom: 0;
  width: 100%;
}
