* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif, Tahoma, Verdana, Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fafafa;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #f9f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  text-decoration: none;
  color: #333;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

h2 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  color: #333;
}

section p {
  text-align: center;
  color: #666;
  max-width: 600px;
  margin: 0 auto 30px auto;
}

main {
  flex: 1;
  padding: 3rem 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.cats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  margin-top: 20px;
}

footer {
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #eaeaea;
}

.cat-card {
  position: relative;
  height: 240px;
  border: 2px solid #333;
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
  box-shadow: 5px 5px 0px rgba(0,0,0,0.1);
  background-color: #eee;
}

.cat-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 0;
}

.cat-info {
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;

  background-color: rgba(255, 255, 255, 0.822);
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;

  text-align: left;
  z-index: 2;
}

.cat-info p {
  text-align: left;
  font-size: 0.85rem;
  margin: 0;
  color: #666;
}

.cat-info h3 {
  font-size: 1rem;
  margin: 0;
  color: #333;
}

.available-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}

.available-title,
.section-title-left {
  text-align: left;
}

.filter-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-select {
  width: 190px;
  height: 40px;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #333;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.filter-input {
  width: 160px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #333;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.filter-btn {
  width: 160px;
  height: 40px;
  background-color: #97d5fc;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.section-separator {
  border: none;
  border-top: 2px solid #333;
  opacity: 1;
  margin: 0 0 30px 0;
}

.cat-image {
  border-radius: 8px;
  object-fit: cover;
}

.available-title {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: 500; 
  letter-spacing: 0.2px;
}

.cat-info h3 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.cat-info p {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
}
