* {
  box-sizing: content-box;
}

:root {
  --bg-darker: hsl(0 0% 80%);
  --bg-dark:   hsl(0 0% 90%);
  --bg:        hsl(0 0% 95%);
  --bg-light:  hsl(0 0% 99%);

  --border:    hsl(0 0% 70%);

  --text:           hsl(0 0% 10%);
  --text-secondary: hsl(0 0% 30%);
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
}

nav {
  background-color: var(--bg);
  box-shadow: 0 0 0.5rem var(--bg-darker);
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
}

header {
  padding: 1em;
  background-color: var(--bg);
}

main {
  /* flex: 1; */
  padding: 1rem 3rem;
  /* display: list-item; */
}
@media screen and (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

.card {
  border: 1px solid var(--border);
  border-radius: 0.75rem;
  box-shadow: 0 0 1rem var(--bg-darker);

  overflow: hidden;
  position: relative;
}

.card > img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.info > .info-box {
  background: var(--bg);
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  opacity: 0.9;
}

footer {
  background-color: var(--bg);
  box-shadow: 0 0 0.5rem var(--bg-darker);
  padding: 1rem 0.75rem;
  text-align: right;
}
