* {
  box-sizing: content-box;
  font-family: 'Quicksand';
  font-weight: 500;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.layout ul li {
  font-size: 1.1rem;
  margin: 0px 15px;
  font-weight: bold;
  position: relative;
}

header {
  padding: .6em;
  background-color: #fff;
  color: #fff;
  border-bottom: 1px solid black;
}

main {
  flex: 1;
  padding: 1em;
  display: list-item;
}

footer {
  padding: 1em;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
}

.cat-card {
  border: 2px solid black;
  text-align: center;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
}

.cat-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.cat-card:hover {
  transform: scale(1.05);
}

.cat-info {
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.cat-info h3 {
  font-size: 1.1rem;
  font-weight: bold;
}
.cat-info p {
  font-size: .9rem;
}

.nav-link:hover {
  color: black !important;
}
.layout ul li::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-out;
}

.layout ul li:hover::after {
  width: 100%;
}

.contact-form {
  padding: 2.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-form .form-control {
  width: 95%;
}

.team-card {
  width: 100%;
  max-width: 14rem;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid black;
}
.team-img {
  height: 180px;
  object-fit: cover;
}