* {
  box-sizing: content-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

header {
  padding: 1em;
  background-color: #f00;
  color: #f00;
}

main {
  flex: 1;
  padding: 1em;
  display: list-item;
}

footer {
  padding: 1em;
  text-align: right;
  width: 100%;
  z-index: 9999;
  background: red;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 4px;
}
