* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

header {
  padding: 1em;
  background-color: #fff;
  color: #fff;
}

main {
  flex: 1;
  padding: 1em;
  display: block;
}

footer {
  padding: 1em;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: red;
}

/* cats grid */
.cats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  align-items: start;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  height: auto;
  padding: 0.5rem;
}

.cat-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem;
}
