*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1em;
  background-color: #fff;
  color: #fff;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

footer {
  padding: 1em;
  text-align: center;
  position: static;
  width: 100%;
  z-index: 9999;
  background: red;
}

.cat-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  background:white;
}
.cat-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 4px;
}