* {
  box-sizing: content-box;
  font-family: 'Quicksand';
  font-weight: 500;
}

header {
  padding: .6em;
  background-color: #c2ebe3;
  color: #ffffff;
  border-bottom: 1px solid black;

}

main {
  flex: 1;
  padding: 1em;
  display: list-item;
}

footer {
  padding: 1em;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.layout ul li {
  font-size: 1.1rem;
  margin: 0px 15px;
  font-weight: bold;
  position: relative;
}
.nav-link {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.nav-link:hover {
  color: rgb(65, 227, 227) !important;
}

.layout ul li::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-out;
}

.layout ul li:hover::after {
  width: 100%;
}

/* Cat Cards */
.cat-card {
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
  width: 100%;
}

.cat-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.cat-card:hover {
  transform: scale(1.15);
}

.cat-card img:hover {
  transform: scale(1.15);
}

.cat-info {
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.cat-info h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.cat-info p {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

#cats-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2fr;
  padding-right: 1.2rem;
}

/* Phone Screens */
@media (max-width: 575px) {
  .layout .nav-link {
    font-size: 0.5rem;
  }
  .about {
    max-width: 90% !important;
    font-size: .9rem;
  }
  .container form {
    width: 80% !important;
  }
}

/* Small Devices */
@media (min-width: 576px) {
  #cats-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium Devices */
@media (min-width: 768px) {
  #cats-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large Devices */
@media (min-width: 992px) {
  #cats-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Contact Us */
.contact-form {
  padding: 2.5rem;
  border-radius: 25px;
  box-shadow: rgba(33, 114, 244, 0.24) 0px 3px 18px;
  background-color: rgb(245, 252, 255);
}

.contact-form .form-control {
  width: 92%;
}

/* About Us */
.team-card {
  width: 100%;
  max-width: 14rem;
  border-radius: 10%;
  overflow: hidden;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: transform 0.2s ease-out;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-img {
  height: 180px;
  object-fit: cover;
}

.team-card:hover {
  transform: scale(1.2);
  border-radius: 10%;
}

/* Loading animation */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.paw-loader {
  font-size : 4rem;
}

.paw {
  animation: bounce 1s infinite ease-in-out;
}

.paw img {
  width: 100%; 
  height: auto;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-30px) scale(0.9, 1.1); /* Stretches slightly as it jumps */
    animation-timing-function: ease-in;
  }

  25% {
    transform: translateY(0) scale(1.2, 0.8);
  }
}