* {
  box-sizing: border-box;
}

.layout {
  display: flex;
   
  min-height: 100vh;
  
}

header {
  padding: 1em;
  background-color: #ffffff;
  color: #000000;
   
}
 

main {
  flex: 1;
  padding: 1em;
  display: inline-flexbox;
  
}

footer {
  padding: 1em;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: rgb(153, 153, 153);
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow:  auto;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 4px;
}

#cats-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.cat-card img{
  width: 150px;
  height: 200px;
  object-fit: cover;
  display: block;
}
