
* {
  box-sizing: border-box; 
}

.layout {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
 
}

header {
  padding: 1em;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

main {
  flex: 1;
  padding: 1em;
  display: block; 
}

footer {
  padding: 1em;
  text-align: center;
  background: #f8f8f8; 
  color: #333;
  border-top: 1px solid #ddd;

}


.cats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  margin-top: 20px;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 12px;
  background-color: white;
}

.cat-info {
  background: #f1f1f1; 
  color: #000;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.filter-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-bar input, .filter-bar select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-search {
  background-color: #add8e6;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
