* {
  box-sizing: border-box;
}

.layout {
  max-width: 1100px;
  margin: 40px auto;
  padding: 24px;
  background: #fff;
  border-radius: 16px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}


main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


footer {
  padding: 1em;
  text-align: right;
  position: static;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: rgb(255, 255, 255);
}

#cats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
}

.cat-card {
  border: 1px solid #ccc;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  min-height: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}


.cat-info {
  padding: 12px;
  text-align: left;
  background: #fff;
  border-top: 1px solid #eee;
  height: auto;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
}

.team-card {
  border-radius: 15px;
  overflow: hidden;
}