
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  padding: 1rem 2rem;
  background-color: #fff; 
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

main {
  flex: 1;
  padding: 2rem;
}

.cats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1.5rem;
  margin-top: 1rem;
}


.cat-card {
  position: relative; 
  border-radius: 12px;
  overflow: hidden;
  height: 250px;
}

.cat-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cat-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7); 
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}
