* {
  box-sizing: content-box;
}

.layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;

  flex-direction: column;
}

header {
  padding: 1em;
  background-color: #fff;
  color: #fff;
}

main {
  flex: 1;
  padding: 1em;
  display: list-item;
}

footer {
  padding: 1em;
  text-align: center;

}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 4px;
}
#cats-container {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}