* {
 /* box-sizing: content-box;*/
 box-sizing: border-box;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* overflow: hidden; */
  /* transform: rotate(1deg); */
}

header {
  padding: 1em;
  background-color: #fff;
  color: #fff;
}

main {
  flex: 1;
  padding: 1em;
   /* max-width: 1100px;    */
  /* margin: 0 auto; */
  /* display: list-item; */
  display: block;
}

footer {
  padding: 1em;
  text-align: right;
   position: static; 
  /* top: 0; */
  /* width: 100%; */
  /* z-index: 9999; */
  background: #f8f9fa;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 8px;
}

.cats-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  align-items: start;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 4px;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0 3rem 0; 
}
.filters input,
.filters select {
  width: 220px;
  height: 40px;          
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.contact-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
}

.contact-title {
  text-align: center;
  margin-bottom: 10px;
}

.contact-text {
  text-align: center;
  margin-bottom: 25px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  font-weight: 600;
}

.form-group input {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.submit-btn {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #000203;
  color: white;
}

.submit-btn:hover {
  background-color: #373454;
}

.nav {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
}

