* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1em;
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #eee;
}

main {
  flex: 1;
  padding: 1em;
}

footer {
  padding: 1em;
  text-align: center;
  background-color: #f8f9fa;
  border-top: 1px solid #eee;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cat-info {
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 4px;
}
