* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1em;
  background-color: #fff;
  color: #000;
}

main {
  flex: 1;
  padding: 1em;
}

footer {
  padding: 1em;
  text-align: center;
  background: #f5f5f5;
}

.cat-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
.cat-info {
  background: #000;
  color: #fff;
  padding: 0.5em;
  border-radius: 4px;
}