* {
 /* box-sizing: content-box;*/
 box-sizing: border-box;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* overflow: hidden; */
  /* transform: rotate(1deg); */
}

header {
  padding: 1em;
  background-color: #fff;
  color: #fff;
}

main {
  flex: 1;
  padding: 1em;
   /* max-width: 1100px;    */
  /* margin: 0 auto; */
  /* display: list-item; */
  display: block;
}

footer {
  padding: 1em;
  text-align: right;
   position: static; 
  /* top: 0; */
  /* width: 100%; */
  /* z-index: 9999; */
  background: #f8f9fa;
}

.cat-card {
  border: 1px solid #ddd;
  text-align: center;
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 8px;
}

.cats-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  align-items: start;
}

.cat-info {
  background: #000;
  color: #fff;
  border-radius: 4px;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0 3rem 0; 
}
.filters input,
.filters select {
  width: 220px;
  height: 40px;          
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

